/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.*
!.env.example
.phpunit.cache
.vite
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
debug_output.txt
debug_sections.txt
last_log.txt
output.txt
response.json
